*{
    font-weight: bold;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    align-items: center;
    display:flex ;
    justify-content: center;
    /* background-color: aquamarine; */
} 
fieldset{
    height: 75vh;
    background-image: url(images/back1.jpg);
    width: 45vw;
    padding: 1%;
    border-radius: 0px 30px;
    border-color: orange;
    backdrop-filter: blur(10px);
}
.item{
    display: grid;
    padding-top: 5%;
    grid-template-columns: 1fr 2fr;
}
.item2{
    margin-top: 5%; 
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr;
}
select{
    margin: 0% 33%;
}
select input{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: rebeccapurple;
}
.button{
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
}
input{
    border-radius: 10px;
    background: none;
}
.none{
    display: none ;
    background: white;
}
.trigger.campus{
    display: flex;
}
.trigger{
    display: none;
}

.photos{
    background-color: azure;
    padding: 1%;
}
.photos img{
    height: 50vh;
    width: 30vw;
}
.sidebar{
    margin-left: 2%;
    margin-right: 30%;
    background-color: #1B3058;
    /* padding: 1%; */
}
.line{
    height: 1%;
    width: 32vw;
    background: orange;
}