*{
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 200vh;
    align-items: center;
    display:flex ;
    justify-content: center;
    /* background-color: aquamarine; */
    background-image: url(back1.jpg);
} 
fieldset{
    width: 45vw;
    padding: 1%;
    border-radius: 10px 30px;
    backdrop-filter: blur(10px);
}
.item{
    display: grid;
    padding-top: 5%;
    grid-template-columns: 1fr 2fr;
}
.item2{
    margin-top: 5%; 
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr;
}
select{
    margin: 0% 33%;
}
select input{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: rebeccapurple;
}
.button{
    padding-top: 5%;
}
input{
    border-radius: 10px;
    background: none;
}
.none{
    display: none ;
    background: white;
}